<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Interface</title>
    <link rel="stylesheet" href="/static/styles/edit_group_styles.css">
</head>
<body>
    <div class="banner">
        <div class="logo-container">
            <a href="/">
                <img src="/static/images/PACKTO_BANNER.png" alt="Logo" class="logo">
            </a>
        </div>
    </div>

    <div class="page-container">
        <div id="itemList">
            <h2>{{ group_name }}</h2>
            <ul>
                {% for item in pcaps %}
                <li class="item-container">
                    <span>{{ item }}</span>
                    <button onclick="deletePCAP('{{ group_id }}', '{{ group_path }}', '{{ item }}')">Delete</button>
                </li>
                {% endfor %}
            </ul>
            
            <br />
            <br />

            <h5>Add New PCAPs to Group</h5>
            <form action="/add_pcaps" method="post" enctype="multipart/form-data">
                <!-- Custom "Choose Files" button -->
                <button type="button" onclick="document.getElementById('fileInput').click();">
                    Choose Files
                </button>
                <span id="fileName">No files chosen</span>
        
                <!-- Hidden file input field -->
                <input type="file" id="fileInput" name="files" multiple required style="display: none;" onchange="updateFileName()">
                <input type="hidden" name="group_id" value="{{ group_id }}">
        
                <button type="submit">Add PCAPs</button>
            </form>
        
            <form action="/" method="get">
                <button type="submit">Back to Home</button>
            </form>
        </div>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
