<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>
    <style>
        .packets-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .packets-container button {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h2>{{ group_name }}</h2>

    <div id="itemList">
        <ul>
            {% for item in pcaps %}
            <li class="item-container">
                <span>{{ item }}</span>
                <button onclick="deletePCAP('{{ group_id }}', '{{ group_path }}', '{{ item }}')">Delete</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    

    <h5>Add New PCAPs to Group</h5>
    <form action="/add_pcaps" method="post" enctype="multipart/form-data">
        <!-- Custom "Choose Files" button -->
        <button type="button" onclick="document.getElementById('fileInput').click();">
            Choose Files
        </button>
        <span id="fileName">No files chosen</span>

        <!-- Hidden file input field -->
        <input type="file" id="fileInput" name="files" multiple required style="display: none;" onchange="updateFileName()">
        <input type="hidden" name="group_id" value="{{ group_id }}">

        <button type="submit">Add PCAPs</button>
    </form>

    <script src="/static/scripts.js"></script>

    <form action="/" method="get">
        <button type="submit">Back to Home</button>
    </form>
</body>
</html>
