<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Interface</title>
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <h2>{{ groupname }}</h2>


    <ul>
        {% for item in pcaps %}
            <li>
                <input type="checkbox" class="item-checkbox" value="{{ item }}">
                {{ item }}
            </li>
        {% endfor %}
    </ul>
    
    <button id="delete-button" group="{{ group }}" group_id="{{ group_id }}" style="display: none;" onclick="deleteSelectedItems()">Delete Selected</button>

    <form action="/run_analysis" method="get">
        <input type="hidden" name="group" value="{{ group }}">
        <input type="hidden" name="group_id" value="{{ group_id }}">
        <button type="submit">Analyze with Packto</button>
    </form>

    <form id="deleteGroupForm">
        <input type="hidden" name="group_id" value="{{ group_id }}">
        <input type="hidden" name="group" value="{{ group }}">
        <button type="button" onclick="deleteGroup()">Delete This Group</button>
    </form>
    <script src="/static/scripts.js"></script>
</body>
</html>
