<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>packto.ai</title>
    <script src="/static/scripts.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <a href="/">
        <img src="/static/images/PACKTO_BANNER.png" alt="Logo" class="logo">
    </a>

    <div class="llm_id">
        <h5>LLM IN USE: {{ llm }}</h5>
        <img src= "{{ llm_logo }}">
    </div>

    <div class="main-content">
        <div class="box">
            <form action="/llm_setup" method="post">
                <label for="modelSelect">Choose LLM:</label>
                <select id="modelSelect" name="llm" onchange="handleModel()">
                    <option value="Mistral">Mistral</option>
                    <option value="OpenAI">OpenAI</option>
                    <option value="Anthropic">Anthropic</option>
                    <option value="Local">Local</option>
                </select>
                
                <!-- API Key Text Box -->
                <div id="apiKeyInput" style="display: none;">
                    <label for="apiKey">Enter API Key:</label>
                    <input type="text" id="apiKey" placeholder="Leave Blank if None" name="api_key">
                </div>
        
                <div id="urlInput" style="display: none;">
                    <label for="url">Enter Base URL:</label>
                    <input type="text" id="url" placeholder="Leave Blank if None" name="url">
                </div>
            
                <button type="submit">Submit LLM</button>
            </form>
        </div>
    
        <div class="box">
            <h2>PacketTrace Groups:</h2>
            <form action="/add_group" method="get">
                <button type="submit">Add New Group</button>
            </form>
        
            <div id="itemList">
                <ul>
                    {% for item in groups %}
                    <li class="item-container">
                        <span>{{ item.group }}</span>
                        <button onclick="runAnalysis('{{ item.group_id }}', '{{ llm }}')">Analyze</button>
                        <button onclick="editGroup('{{ item.group_id }}')">Edit</button>
                        <button onclick="deleteGroup('{{ item.group_id }}')">Delete</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <button class="menu-button" onclick="window.open('https://github.com/packto-ai/trace-analyzer/issues', '_blank');">
        Submit an Issue on our GitHub!
    </button>

    <div id="loading-indicator" class="loading-spinner" style="display: none;">
        <p>Loading...</p>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
