<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>packto.ai</title>
    <script src="/static/scripts.js" defer></script>
    <style>
        body { font-family: Arial, Helvetica, sans-serif; }
        #chat-box {border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll; display: flex; flex-direction: column-reverse;}
        .message { margin-bottom: 10px; }
        .user { font-weight: bold; }
        .bot {color: blue; }
    </style>
</head>
<body>
    <h1 id="title">PACKTO.AI</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="groupfolder">Enter group name:</label>
        <input type="text" id="groupfolder" name="groupfolder" required>

        <label for="modelSelect">Select Model:</label>
        <select id="modelSelect" name="model" onchange="handleModel()">
            <option value="Mistral">Mistral</option>
            <option value="OpenAI">OpenAI</option>
            <option value="Local">Local</option>
        </select>

        <!-- API Key Text Box -->
        <div id="apiKeyInput" style="display: none;">
            <label for="apiKey">Enter API Key:</label>
            <input type="text" id="apiKey" name="api_key">
        </div>

        <div id="urlInput" style="display: none;">
            <label for="url">Enter Base URL:</label>
            <input type="text" id="url" name="url">
        </div>

        <input type="file" name="files" multiple required>
        <button type="submit">Upload</button>
    </form>

    <!-- Link to navigate to the analyze page to view uploaded groups -->
    <form action="/show_groups" method="get">
        <button type="submit">View Uploaded Files</button>
    </form>

    <script src="/static/scripts.js"></script>
</body>
</html>
