body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(180deg, #ecf0f1, #2c3e50);
    margin: 0;
    height: 100vh; /* Full height */
    overflow: hidden; /* Prevents scrolling due to layout issues */
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}


input {
    flex-grow: 1;
    padding: 6px 8px;
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 25px; 
    font-size: 12px; 
    background-color: #f9f9f9; 
    color: #333; 
    transition: all 0.3s ease; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

input:focus {
    border-color: #4c87af;
    background-color: #fff;
    outline: none;
    box-shadow: 0 2px 8px rgba(76, 122, 175, 0.4);
}

input:hover {
    border-color: #ccc;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}



.page-container {
    display: flex;
    flex-direction: row; /* Keep sidebar and chat side by side */
    height: 100vh;
    padding-top: 100px;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Fixed height for the banner */
    background-color: linear-gradient(180deg, #ecf0f1, #2c3e50);
    z-index: 999;
    display: flex;
    align-items: center; /* Vertically center the logo */
    justify-content: space-between; /* Align the logo to the left */
    padding-left: 10px; /* Space from the left edge */
    padding-right: 10px; /* Space from the right edge */
}

.logo-container {
    display: block; /* Ensure it behaves like a block element */
}

.logo {
    max-height: 80px; /* Limit the logo height to prevent it from being too large */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the logo doesn't overflow horizontally */
}